---
import PostLayout from "../../layouts/PostLayout.astro";
import MarkdownThreeJS from "../../components/blog/three-js.md";
import Navbar from "../../components/shared/Navbar.astro";


---

<PostLayout title="Primeros pasos en ThreeJS">
    <Navbar/>
    <main class="container mx-auto max-w-3xl px-5">
        <section>
            <MarkdownThreeJS/>
        </section>
    </main>
</PostLayout>