---

---

<section class="mt-8">
  <h2 class="text-2xl font-semibold">Awards</h2>
  <article class="mb-8">
    <h3 class="text-xl">
      2nd Place in the TecNM CDMX regional programming contest.
    </h3>
    <p class="mb-2 dark:text-gray-400 text-gray-600">2020</p>
  </article>
  <article class="mb-8">
    <h3 class="text-xl">
      1st place in academic achievement of the computer systems engineering degree.
    </h3>
    <p class="mb-2 dark:text-gray-400 text-gray-600">2023</p>
  </article>
</section>
