---
import { Icon } from "astro-icon/components";

---

<div class="flex flex-col sm:flex-row sm:gap-3 mt-1">
    <a
        class="flex items-center gap-1 hover:font-medium"
        target="_blank"
        href="mailto:fsv.tello@gmail.com"
        ><Icon class="w-5 h-5" name="mdi:email" /> fsv.tello@gmail.com</a
    >
    <a class="flex items-center gap-1 hover:font-medium" target="_blank" href="https://www.linkedin.com/in/fernando-said-vasquez-tello-bb7087250/"
        ><Icon class="w-5 h-5" name="mdi:linkedin" /> Linkedin</a
    >
    <a
        class="flex items-center gap-1 hover:font-medium"
        target="_blank"
        href="https://github.com/Swumplurd"
        ><Icon class="w-5 h-5" name="mdi:github" /> Github</a
    >
</div>
