---

---

<section class="mt-8">
    <h2 class="text-2xl font-semibold">Languages</h2>
    <article class="mb-8">
        <ul>
            <li class="list-disc list-inside">Spanish - Native</li>
            <li class="list-disc list-inside">English - Medium</li>
        </ul>
    </article>
</section>
