---

---

<section class="mt-8">
  <h2 class="text-2xl font-semibold">Tech skills</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2">
    <ul>
      <li class="list-disc list-inside">Javascript</li>
      <li class="list-disc list-inside">NodeJS</li>
      <li class="list-disc list-inside">React</li>
      <li class="list-disc list-inside">Python</li>
      <li class="list-disc list-inside">PHP</li>
      <li class="list-disc list-inside">MongoDB</li>
      <li class="list-disc list-inside">React Native</li>
      <li class="list-disc list-inside">C#</li>
      <!-- <li class="list-disc list-inside">VueJS</li>
      <li class="list-disc list-inside">C++</li>
      <li class="list-disc list-inside">Pug</li> -->
    </ul>
    <ul>
      <li class="list-disc list-inside">Typescript</li>
      <li class="list-disc list-inside">NextJS</li>
      <li class="list-disc list-inside">Angular</li>
      <li class="list-disc list-inside">Laravel</li>
      <li class="list-disc list-inside">MySQL</li>
      <li class="list-disc list-inside">MongoDB Atlas</li>
      <li class="list-disc list-inside">Express</li>
      <li class="list-disc list-inside">.NET</li>
    </ul>
  </div>
</section>
