---

---

<section class="mt-8">
  <h2 class="text-2xl font-semibold">Work experience</h2>
  <article class="mb-8">
    <a
      class="sm:flex items-center gap-1 hover:underline"
      href="https://info.mvshub.com.mx/index.html"
      target="_blank"
    >
      <h3 class="text-xl">Frontend developer - MVSHUB</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
        ></path>
      </svg>
    </a>
    <p class="mb-2 dark:text-gray-400 text-gray-600">November 2024 — Current</p>
    <p>
      MVSHUB is a super aggregator that works through a monthly subscription and allows its users to watch series and movies through their preferred platforms and live TV channels, on any device connected to the Internet, at a better price.
    </p>
  </article>
  <article class="mb-8">
    <a
      class="sm:flex items-center gap-1 hover:underline"
      href="https://www.nomitek.com.mx/"
      target="_blank"
    >
      <h3 class="text-xl">Fullstack developer - Nomitek</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
        ></path>
      </svg>
    </a>
    <p class="mb-2 dark:text-gray-400 text-gray-600">January 2024 — October 2024</p>
    <ul>
      <li class="list-disc list-inside">
        API development and maintenance in .NET with C#.
      </li>
      <li class="list-disc list-inside">
        Development and maintenance of application in Angular.
      </li>
      <li class="list-disc list-inside">
        Attention to requirements for the implementation of new modules in the
        application in Angular.
      </li>
    </ul>
  </article>
  <article class="mb-8">
    <a
      class="sm:flex items-center gap-1 justify-start hover:underline"
      href="https://milpaalta2.tecnm.mx/"
      target="_blank"
    >
      <h3 class="text-xl">Professor - TecNM campus Milpa Alta II</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
        ></path>
      </svg>
    </a>
    <p class="mb-2 dark:text-gray-400 text-gray-600">
      August 2023 — December 2023
    </p>
    <ul>
      <li class="list-disc list-inside">
        Teaching Database Fundamentals, Languages ​​and Automata II, Web
        Programming, Web Development Suites and Multiplatform Application
        Development.
      </li>
      <li class="list-disc list-inside">
        Instructor of the "PHP" and "CRUD PDO" courses promoted for the teaching
        update of the Systems Academy.
      </li>
      <li class="list-disc list-inside">
        Coach of the Silver Code team for participation in the Coding Cup TecNM
        2023
      </li>
    </ul>
  </article>
  <article class="mb-8">
    <div class="flex items-center gap-1">
      <h3 class="text-xl">Systems Responsible - Mercagreen</h3>
    </div>
    <p class="mb-2 dark:text-gray-400 text-gray-600">
      June 2022 — December 2022
    </p>
    <ul>
      <li class="list-disc list-inside">Responsible for the systems area.</li>
      <li class="list-disc list-inside">Website design using Adobe XD.</li>
      <li class="list-disc list-inside">
        Website development using NextJS, Bootstrap 5 and SASS
      </li>
      <li class="list-disc list-inside">
        REST API implementation using NodeJS, Express and MongoDB used to
        centralize company information.
      </li>
      <li class="list-disc list-inside">
        Development of the Mercagreen Information Center (CIM) using React and
        Bootstrap 5.
      </li>
    </ul>
  </article>
</section>
