---
import Navbar from "../../components/shared/Navbar.astro"
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Portfolio">
    <Navbar />
    <main class="container mx-auto max-w-3xl px-5">
        <section>
            <article class="mb-8">
                <a
                    class="sm:flex items-center gap-1 hover:underline"
                    href="https://github.com/Swumplurd/shouko-bot"
                >
                    <h3 class="text-xl">Shouko-bot</h3>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
                        ></path>
                    </svg>
                </a>
                <p class="dark:text-gray-400 text-gray-600">
                    Custom bot for Discord using the following technologies:
                    DiscordJS, MongoDB Atlas, NodeJS, Mongoose and Axios.
                </p>
            </article>
            <article class="mb-8">
                <a
                    class="sm:flex items-center gap-1 hover:underline"
                    href="https://github.com/Swumplurd/gestor-de-equipos"
                >
                    <h3 class="text-xl">Computer Equipment Manager</h3>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
                        ></path>
                    </svg>
                </a>
                <p class="dark:text-gray-400 text-gray-600">
                    Inventory manager of computer equipment such as: printers,
                    keyboards and mice using the following technologies: PHP,
                    MariaDB, HTML, CSS and Bootstrap. Used in the Milpa Alta
                    Sanitary Jurisdiction.
                </p>
            </article>
            <article class="mb-8">
                <a
                    class="sm:flex items-center gap-1 hover:underline"
                    href="https://marketplace.visualstudio.com/items?itemName=swumplurd.bootstrap-5-snippets-extension"
                >
                    <h3 class="text-xl">Bootstrap 5 Snippets</h3>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
                        ></path>
                    </svg>
                </a>
                <p class="dark:text-gray-400 text-gray-600">
                    Extension for Visual Studio Code with multiple Snippets for
                    Bootstrap 5. Currently It has more than 32,000 downloads.
                </p>
            </article>
            <article class="mb-8">
                <a
                    class="sm:flex items-center gap-1 hover:underline"
                    href="https://marketplace.visualstudio.com/items?itemName=swumplurd.bootstrap-5-snippets-extension"
                >
                    <h3 class="text-xl">Mechanic App</h3>
                </a>
                <p class="dark:text-gray-400 text-gray-600">
                    It is an application for controlling services performed in a
                    mechanical workshop, showing a list of a client's next
                    services, maintaining an agenda of clients, their respective
                    motorcycles and spare parts.
                </p>
            </article>
        </section>
    </main>
</Layout>
